h1 {
    text-align: center;
    text-decoration: underline;
    color: red;
}

ol {
    text-align: center;
}
.choice {
    border: 2px solid blueviolet;
    padding: 9px;
    border-radius: 4px;
    cursor: pointer;
}