h1 {
    text-align: center;
    color: red;
}

ol {
    text-align: center;
}
.choice {
    border: 2px solid blueviolet;
    padding: 9px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.jumbotron {
    margin-top: 2%;
    text-align: center;
}

body {
    height: 97vh;
}